{% extends 'valevasion/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div id="content">
    <div class="ui container">
        <h1>Envoyer un message </h1>
        <div class="ui form">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="ui error message">
                    {{field.errors}}
                </div>
                {{field.label}} {% if field.field.required %} * {% endif %}
                {{field}}
                {% endfor %}
                <button class="ui button" type="submit"> Envoyer</button>
            </form>
        </div>
        <h1>Emplacement</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10903.729465929177!2d6.5814754!3d46.9040485!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1e4fc8918653376!2sVal-Evasion+S.%C3%A0+r.l.!5e0!3m2!1sfr!2sch!4v1523181128245"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
