{% extends "valevasion/base.html" %}

{% block title %}Toute les galleries{% endblock %}

{% block content %}

<div id='content'>
    <div class="row col-lg-12">
        <h1 class="page-header">Toute les galleries</h1>
    </div>

    {% if object_list %}
    <div class="row col-lg-12">
        {% for gallery in object_list %}

        <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
        <p class="muted">
            <small>Publié le {{ gallery.date_added }}</small>
        </p>
        {% if gallery.description %}<p>{{ gallery.description|safe }}</p>{% endif %}
        {% for photo in gallery.sample %}
        <a href="{{ photo.get_absolute_url }}">
            <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
        </a>
        {% endfor %}

        {% endfor %}
    </div>
    {% else %}
    <div class="row col-lg-12">Aucune gallerie trouvée</div>
    {% endif %}

    {% include "photologue/includes/paginator.html" %}

</div>
{% endblock %}
