{% extends 'valevasion/base.html' %}

{% load static %}

{% block title %}Nos Voyages{% endblock %}

{% block content %}
<div id="content">
    <div class="ui container">
        <div class="ui basic segment">
            <h1>Galerie</h1>
            <ul>
                <div class="ui cards">
                    {% for gallery in object_list %}
                    <div class="card">
                        <a class="image" href="{% url 'gallery-detail' gallery.id %}">
                            <img src="{{MEDIA_URL}}static/plane.jpg">
                        </a>
                        <div class="content">
                            <a class="header" href="{% url 'gallery-detail' gallery.id %}">{{ gallery.title }}</a>
                            <div class="meta">
                                <a>{{ gallery.gallery.count}} images</a>
                            </div>
                        </div>
                    </div>
                    <!--<li><a href="{% url 'gallery-detail' gallery.id %}"> {{ gallery.title }}</a></li>-->
                    {% empty %}
                    <h3>Pas de galerie pour le moment.</h3>
                    {% endfor %}
                </div>
            </ul>

            {% if user.is_authenticated %}
            <br>
            <a class="ui blue button" href="{% url 'add-gallery' %}">
                Ajouter une galerie
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
